.git
.github
.idea
.vscode
.env
.venv
venv
env
__pycache__
*.py[cod]
.pytest_cache
.coverage
htmlcov
staticfiles
*.sqlite3
tests
requirements-dev.txt
.pre-commit-config.yaml
frontend/node_modules
frontend/dist
