Django==6.0.7
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-filter==26.1
django-cors-headers==4.9.0
dj-database-url==3.1.2
drf-spectacular==0.30.0
psycopg[binary]==3.3.4
python-dotenv==1.2.2
gunicorn==26.0.0
fitdecode==0.11.0
garmin-fit-sdk==21.208.0
defusedxml==0.7.1
cryptography==50.0.0
